In [3]:
# List of numbers
numbers = [5, 8, 1, 4, 10, 2]

# Sort the numbers
sorted_numbers = sorted(numbers, key=None, reverse=True)

print(sorted_numbers)
print(numbers)

[10, 8, 5, 4, 2, 1]
[5, 8, 1, 4, 10, 2]

In [5]:
# List of numbers
numbers = [5, 8, 1, 4, 10, 2]

print(numbers.sort(key=None, reverse=True))

print(numbers)

None
[10, 8, 5, 4, 2, 1]

In [11]:
# List of names
names_list = [
    {
        "name": "Mike"
    },
    {
        "name": "Anna"
    },
    {
        "name": "Bella"
    },
    {
        "score": 10
    },
]

sorted_names = sorted(names_list, key=lambda x: x.get("name", ""), reverse=False)

print(sorted_names)

[{'score': 10}, {'name': 'Anna'}, {'name': 'Bella'}, {'name': 'Mike'}]

<table>
    <tr>
        <td>name</td>
        <td>score</td>
    </tr>
    <tr>
        <td>Mike</td>
        <td></td>
    </tr>
    <tr>
        <td>Anna</td>
        <td></td>
    </tr>
    <tr>
        <td>Bella</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>10</td>
    </tr>
</table>